<!--! Orders Component -->
<section class="orders min-h-screen bg-gray-200 py-8 px-3 md:px-10 lg:px-20">
    <div class="container mx-auto">
        <h1 class="text-3xl font-semibold">All Orders</h1>

        <!-- Order Placed Alert -->
        <% if (messages.success) { %>
            <div id="success-alert" class="flex gap-3 items-center justify-center bg-green-500 text-white text-base font-semibold px-4 py-2 my-4 rounded-md" role="alert">
                <i class="fa-solid fa-circle-check"></i>
                <p><%= messages.success %></p>
            </div>
        <% } %>

        <!-- Table -->
        <table class="w-full bg-white table-auto rounded-md my-4 block sm:inline-table overflow-x-auto sm:overflow-x-visible">
            <thead>
                <tr>
                    <th class="bg-green-500 px-4 py-2 text-left">Order ID</th>
                    <th class="bg-green-500 px-4 py-2 text-left">Name</th>
                    <th class="bg-green-500 px-4 py-2 text-left">Phone</th>
                    <th class="bg-green-500 px-4 py-2 text-left">Address</th>
                    <th class="bg-green-500 px-4 py-2 text-left">Time</th>
                </tr>
            </thead>

            <tbody>
                <% if (orders.length) { %>
                    <% orders.forEach(order => { %>
                        <tr>
                            <td class="border px-4 py-2 text-left">
                                <a href="/customer/orders/<%= order._id %>" class="text-green-500"><%= order._id %></a>
                            </td>
                            <td class="border px-4 py-2 text-left"><%= order.name %></td>
                            <td class="border px-4 py-2 text-left"><%= order.phone %></td>
                            <td class="border px-4 py-2 text-left"><%= order.address %></td>
                            <td class="border px-4 py-2 text-left"><%= moment(order.createdAt).format('hh:mm A') %></td>
                        </tr>
                    <% }); %>
                <% } else { %>
                    <tr>
                        <td class="px-4 py-2">
                            <h3 class="text-xl">No Orders Placed Yet!</h3>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</section>

<script>
    //! Remove Order Placed Alert After 3 Seconds
    window.addEventListener('DOMContentLoaded', function () {
        let successAlert = document.querySelector('#success-alert');
        if (successAlert) {
            // Initially set opacity to 0
            successAlert.style.opacity = '0';

            setTimeout(function () {
                successAlert.style.opacity = '1';
                successAlert.style.display = 'flex';
                successAlert.style.transition = 'opacity 0.5s ease';
            }, 0);

            // After 3 seconds, gradually change opacity back to 0
            setTimeout(function () {
                successAlert.style.transition = 'opacity 0.5s ease';
                successAlert.style.opacity = '0';
                successAlert.style.display = 'none';
            }, 3000);
        }
    });

</script>